.bioPic {
    height: 150px;
    width: 150px;
    /* TBLR */
    margin: 0 12px 0 0;
    /* padding-top: 7px; */
}

.nav-right {
    float: right;
}

/* Added this to allow proper margin around collumn/row content */
.row {
    /* TRBL */
    padding: 0 20px 0 20px;
}

.portfolioRow {
    margin-top: 30px;
}

/* Padding for portfolio and form within section area */
.card-deck {
    padding: 0 0 22px 0;
}

form {
    padding: 22px 0 22px 0;
}

.card-title {
    font-size: 20px;
    text-align: center;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    color: #ffffff;
    line-height: 0.3;
    /* position: relative;
    top: -30px;
    left: 50%;
    transform: translate(-50%, -50%); */
    padding: 20px;
    background-color: #d45454;
    border-radius: 2rem;
    }

p.card-text {
    padding-top: 0;
}

/* default attributes for all elements */
body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    /* background-image: url("../images/paper-background.jpg");
    background-repeat: repeat-y;
    background-color: seashell;*/
    color: #777777;
    background-color: #d2d0cf;
}

/* HEADINGS */
/* Use Times Font for all headings */
h1, h2, h3 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
    display: inline-block;
    clear: both;
    padding-top: 22px;
    padding-bottom: 22px;
    border-bottom: 1px solid gray;
}

p {
    font-size: 16px;
    line-height: 24px;
    padding-top: 22px;
}

i {
    color: #ce1c1c;
}

.title {
    color: rgb(117, 117, 117);
    font-weight: bold;
    width: 100%;
    margin: auto;

}

nav {
    background-color: #ffffff;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    margin-top: 22px;
    line-height: 36px;
}

.my-Bg {
    background-color: #d45454;
    border-radius: .3rem;
}

.colButtonBar {
    padding-top: 1rem;
    padding-left: 0px;
}

section {
    display: block;
    background-color: #ffffff;
    /* TRBL */
    margin: 38px 0px 88px 0px;
    border: 1px solid #dddddd;
    border-radius: .3rem;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #D6D6D6;
    font-size: 10px;
    background-color: #000000;
    border-top: 8px solid #ce1c1c;
    margin-top: 22px;
    line-height: 36px;
}

@media (min-width: 576px) {
    .card-columns {
        column-count: 1;
    }
}

@media (min-width: 992px) {
    .colTitle {
        margin-right: 0px;
        padding-right: 0px;
    }
    
    .colButtonBar {
        border-bottom: 1px solid gray;
        padding-left: 1rem;
    }
}

.ekko-lightbox-nav-overlay a {
    text-shadow: 2px 2px 4px #000000;
}